body {
    font-family: 'Rubik', sans-serif;
    background-color: #1e2124;
    color: white;
}

.links {
    transition: 0.4s;
    color: #6dabee;
}

.links:hover {
    transition: 0.4s;
    color: #0f76e4;
}

.backbutton {
    transition: 0.4s;
    color: #6dabee;
    border: 0px;
    background-color: #282c30;
    border-radius: 15px;
    padding:10px 10px;
}

.backbutton:hover {
    transition: 0.4s;
    color: #0f76e4;
    background-color: #24282c;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header a {
    transition: 0.4s;
    float: left;
    color: white;
    background-color: #1e2124;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 15px;
}

.header a:hover {
    transition: 0.4s;
    background-color: #3a3e42;
}

.header a.active {
    transition: 0.4s;
    background-color: dodgerblue;
    color: white;
}

.header a.active:hover {
    transition: 0.4s;
    background-color: rgb(7, 83, 158);
}

.header-title {
    font-size: 24px;
    margin-left: 10px;
    float: left;
}

.logo-link {
  text-decoration: none;
}

.logo-group {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.header-left {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.toggleheaderbutton {
    display: none;
    right: 20px;
    position: fixed;
    z-index: 10000;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 40%;
    }

    .header a {
        width: 100%;
        box-sizing: border-box;
    }

    .toggleheaderbutton {
        display: block;
    }
}

.social-icons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

img.social{
    height: 30px;
}

.clickable-copy {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  margin: 6px 0;
}

.plugingrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: auto;
    margin-right: auto;
}

.plugincontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 27, 29);
    border-radius: 15px;
    outline: solid;
    outline-color: rgb(0, 0, 0);
    width: 350px;
    height: 275px;
    padding-bottom: 70px;
    gap: 10px;
}

.plugincontainer p {
    text-align: center;
    margin: 0.05em 0;
}

.individualplugincontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 27, 29);
    border-radius: 15px;
    outline: solid;
    outline-color: rgb(0, 0, 0);
    width: 90%;
    height: 425px;
    gap: 10px;
}

.individualplugincontainer p {
    text-align: center;
    margin: 0.05em 0;
    font-size: xx-large;
}

.plugindownloadbutton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4c29c9;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    color: #FFFFFF;
    padding: 10px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.plugindownloadbutton:after {
    content: "";
    background: #5230cf;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.plugindownloadbutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.pluginimage {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 8px;
    object-fit: cover;
}

.individualpluginimage {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.downloadbutton {
    position: relative;
    background-color: #4c29c9;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    color: #FFFFFF;
    padding: 10px;
    width: 100px;
    height: 75px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.downloadbutton:after {
    content: "";
    background: #5230cf;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.downloadbutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    z-index: 10000;
}

.small{
    position: absolute;
    font-size: 13px;
    right: 15px;
    top: 10px;
    text-align: right;
    margin: 10px;
}